[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible = "*"
docker = "*"

[packages]

[requires]
python_version = "3.6"

[scripts]
package = "python setup.py bdist_wheel"
deploy = "ansible-playbook -i localhost, sso/deploy.yml"
