# Project
Makefile
*.bak

# Git
.git/
.gitattributes
.gitignore

# Python
Pipfile
Pipfile.lock
.Python
**/__pycache__
**/*.py[cod]
env/
.env
*.log

# Ansible
playbooks/
deploy.yml

# Vue
static/dist/
static/node_modules/
static/README.md
