# Project
README.md
Makefile
*.bak

# Git
.git/
.gitattributes
.gitignore

# Python
Pipfile
Pipfile.lock
.Python
.pytest_cache
**/__pycache__
**/*.py[cod]
env/
.env
*.log

# Ansible
playbooks/
deploy.yml

# Vue
**/dist/
**/node_modules/
**/static/
