[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypercorn = {extras = ["uvloop"],version = "*"}
uvicorn = "*"
flit = "*"
black = "*"
pytest = "*"

[packages]
pbr = "*"
passlib = "*"
fastapi = "*"
oic = "*"
databases = "*"
email-validator = "*"
daphne = "*"
python-multipart = "*"
authlib = "*"
httpx = "*"
twisted = {extras = ["http2", "tls"],version = "*"}
aiofiles = "*"

[scripts]
requirements = "bash -c 'pipenv lock -r > requirements.txt'"
build = "bash -c 'pushd static && npm install && npm run build && popd'"
daphne = "bash -c 'pipenv run build && daphne -b 0.0.0.0 -p 3000 app:app'"
hypercorn = "bash -c 'pipenv run build && hypercorn -b 0.0.0.0:3000 app:app --reload'"
uvicorn = "bash -c 'pipenv run build && uvicorn --host 0.0.0.0 --port 3000 app:app --reload'"
kill = "bash -c 'kill -9 $(pgrep -f uvicorn)'"
package = "python setup.py bdist_wheel"

[pipenv]
allow_prereleases = true
