[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pbr = "*"
passlib = "*"
fastapi = "*"
oic = "*"
databases = "*"
email-validator = "*"
hypercorn = "*"

[scripts]
app = "hypercorn -b 0.0.0.0:5000 app:app --reload"
package = "python setup.py bdist_wheel"
